header {
    width: 100%;
    height: 67px;
    display: flex;
    justify-content: center;
    background-color: #131313;
    border-top: var(--border-nav);   
    border-bottom: var(--border-nav);

    position: fixed;
}

header nav.navbar {
    display: flex;
    justify-content: space-between;
    padding: 22px;
    width: 100%;
    max-width: 1349px;
}

header nav.navbar img {
    width: 31px;
}

header nav.navbar .bxs-shopping-bag-alt {
    font-size: 27px;
}

